
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
.letra {
        font-family: "Tilt Neon", sans-serif;
        font-optical-sizing: auto;
}

.letra2 {
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
}

p {
    font-size: 1.5vw;
}

h1 {
    font-size: 3vw;
}


.verde {
    background-color: rgba(0, 128, 0, 0.757);
    position: absolute;
    top: 10%;
    z-index: 1000; /* Lo que hace es que la navbar este encima de la imagen del principio*/
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 0px 10px #0a300d;
}

.verde2 {
  background-color: rgba(0, 128, 0, 0.757);
  box-shadow: 0px 0px 10px #0a300d;
}

.logoheader {
    width: 15vw;
}


.ig {
    color: blueviolet;
}

.yt {
    color: red;
}


.quien {
    text-align: justify;
    width: 50%;
    margin-left: 5%;
    padding-top: 4%;
}

.quien2 {
    text-align: justify;
    margin-left: 5%;
    padding: 2%;
}

.quien p{
    font-size: 1.8vw;
}

.sectioquien {
    width: 100%;
    display: flex;
    padding-top: 5%;
    padding-right: 5%;
}

.sectioquien2 {
    display: flex;
    width: 100%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.quienlogo {
    padding: 5%;
    width: 35vw;
}

.header-portada {
    width: 100%;
    height: 100vh;
    background-image: url('../img/fondo1.png'); /* Ruta de la imagen */
    background-size: cover;
}
.header-portada2 {
    width: 100%;
    height: 100vh;
    background-image: url('../img/fondo2.png'); /* Ruta de la imagen */
    background-size: cover;
}

.header-portada3 {
  width: 100%;
  height: 100vh;
  background-image: url('../img/fondo3.png'); /* Ruta de la imagen */
  background-size: cover;
}
.header-transmitir {
  width: 100%;
  height: 100vh;
  background-image: url('../img/transmitirhead.jpg'); /* Ruta de la imagen */
  background-size: cover;
  background-position: center;
}

.titulo1{
    text-align: center;
    padding-top: 23%;
}

.titulo1 h1{
    color: rgb(255, 255, 255);
    background-color: rgba(52, 52, 52, 0.75);
    margin-right: 55%;
    margin-left: 15%;
    font-size: 390%;
    border: 1px solid; color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}


.prefooter{
    text-align: center;
    width: 100%;
    background-color: rgb(1, 86, 1);
}


.prefooter img{
    width: 3%;
    margin: 3%;
}


.parte1{

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.parte2 p{

    font-size: 150%;
    padding-top: 2%;
}

.parte2 h1{

  padding-top: 8%;
}

.texto-verde {
    color: green;
}


  #boton{
    background-color: rgb(89, 184, 54);
    padding-left: 7%;
    padding-right: 7%;
  }

  #boto{
    background-color: rgb(89, 184, 54);
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 4%;
  }

  .boton1{
    padding-top: 3%;
    padding-bottom: 9%;
  }

  .ico{
    padding-top: 4%;
    background-color: rgb(241, 241, 241);
    }
  

  .iconos{
    width: 28%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .iconos2{
    width: 26%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .text-ico{
    display: flex;
    background-color: rgb(241, 241, 241);
  }

  .text-ico p{
    padding-left: 7%;
  }
  #text-ico2{
    padding-left: 14.5%;

  }

  #text-ico3{
    padding-left: 9%;

  }

  #soci{
    background-color: rgba(254, 152, 49, 0.75);
    border: 3px solid; color: rgba(0, 0, 0, 0.75);
    border-radius: 20%;
  }

  #floatingInput{

    border: 1px solid; color: rgb(0, 0, 0);

  }

  .info2{
    padding-top: 12%;
    text-align: center;
  }

  .info1{
    text-align: center;
    font-size: 150%;
    padding-top: 2%;
  }



  #email2{
    margin-top: 5%;
  }


  #carouselExampleCaptions{
    border: 3px solid; color: rgb(93, 185, 13);
  }

  .titulonoticias{
    padding: 4%;
    color: rgb(93, 185, 13);    
  }
  


  .parte1-contacto{

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    background-color: rgb(241, 241, 241);

  }

  .parte2-contacto p{

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    background-color: rgb(241, 241, 241);

  }

  #fila1{
    width: 100%;
    display: flex;
  }

  #col1-fila1{
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-right: 3%;
  }

  #col2-fila1{
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-left: 3%;
  }
  
  .fila2{
    width: 100%;
    display: flex;
    margin-top: 5%;
  }

  #col1-fila2{
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-right: 3%;
  
  }

  #col2-fila2{
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }

  #col2-fila3{
    width: 50%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-left: 3%;
  }

  .iconors{
    width: 25%;
    padding: 5%;
  }

  
  .iconors2{
    width: 55%;
    padding: 5%;
  }

  #contactotxt{
    padding: 5%;
  }

  .divheader {
    border-radius: 50%;
    text-align: center;
    margin-top: 10%;
    color: white;
    background-color: rgba(93, 185, 13, 0.5);
    margin-left: 25%;
    width: 50%;
    padding: 3%;
}
.divheader h1 {
  font-size: 4vw;
}
.divheader h5 {
  font-size: 2vw;
}


.transmitir {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}

.transmitir h1,
.transmitir h2 {
  font-size: 3vw;
  color: rgb(93, 185, 13);
}

.bloqueo {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  border: 3px solid; color: rgb(93, 185, 13);
  background-color: rgba(93, 185, 13, 0.25)
}

.bloqueo img {
  width: 25%;
  margin: 3%;
}

.bloqueo p {
  width: 75%;
  margin: 3%;
  color: black;
}


.divheader2 {
  border-radius: 50%;
  text-align: center;
  margin-top: 10%;
  color: white;
  background-color: rgba(93, 185, 13, 0.5);
  margin-right: 10%;
  margin-left: 5%;
  width: 50%;
  padding: 3%;
}
.divheader2 h1 {
  font-size: 4vw;
}
.divheader2 h5 {
  font-size: 2vw;
}

.carousel-control-next-icon{
  background-color: rgba(73, 71, 71, 0.815);
  border-radius: 50%;

}

.carousel-control-prev-icon{
  background-color: black;
  border-radius: 50%;

}

.tienda{

  background-color: rgb(73, 73, 73);
}

.product-card {
  margin-bottom: 30px;
}
.product-card img {
  width: 100%;
}
.product-description {
  margin-top: 10px;
}
#card2 img{
  width: 87%;
}

#card6 img{
  width: 80%;
  padding-top: 6.5%;
  padding-bottom: 20%;
}

.til{
  text-align: center;
  padding-top: 3%;
}
.til2{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

.product-description{
  font-size: 100%;
}

.card-title{
  text-align: center;
}

.imgtransmitir {
  width: 10vw;
  height: 10vw; 
  object-fit: cover;
  object-position: center;
}
.txtizq {
  text-align: right;
  margin-right: 20%;
}
.txtpadding {
  padding-top: 3%;
}
.fondogris {
  background-color: rgb(241, 241, 241);
}


#pago{
  padding: 4%;
  background-color: rgb(93, 185, 13);
}

#pago-titulo{
  padding: 2%;
  padding-left: 0%;
  font-size: 125%;
}

.pago-info{
  padding: 1%;
  font-size: 85%;
  padding-top: 2%;
 padding-left: 0%;
}

#pago-todo{
  display: flex;
}

#pago-texto{
  width: 50%;
}

#pago-foto{
  margin-left: 15%;
  margin-top: 5%;
}

#pago-foto img{
  width: 100%;
  padding-bottom: 1%;
}

#pago-confirmar{
  background-color: rgb(233, 99, 99);
  text-align: center;
  width: 75%;
}

.LinkPaneles {
  color: white;
}


body {
  background-color: #f8f9fa;
  
}
#container {
  width: 600px;
  margin-top: 3rem;
  background: #ffffff;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-title {
  text-align: center;
  color: #1a5f20;
}
.btn-primary {
  background-color: #007bff;
  border: none;
}
.btn-primary:hover {
  background-color: #0056b3;
}




.prefooter2{
  text-align: center;
  width: 100%;
  background-color: rgb(1, 86, 1);
  margin-top: 5%;
}


.prefooter2 img{
  width: 3%;
  margin: 3%;
}


#iniciar{
  margin-top: 4%;
  
}

#iniciar2{
  background-color: #00d0ff;
  
}

.imgquien {
  width: 27vw;
  padding: 0%;
  border-radius: 10%;
  border: 3px solid; color: rgb(93, 185, 13);
}

@media screen and (max-width: 500px){
  #col2-fila3 iframe{
    width: 100%;
    height: 75%;
  }

  .divheader2{
    margin: 25%;
    padding: 6%;
  }

  .contactotxt{
    font-size: 75%;
  }

  #fila1{
    display: block;
    width: 100%;
  }

  .fila2{
    display: block;
    width: 100%;
  }

  #col1-fila1{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 5%;
    padding-bottom: 1%;
  }

  #col2-fila1{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 5%;
    padding-bottom: 1%;
  }

  #col1-fila2{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 5%;
    padding-bottom: 1%;
  }

  #col2-fila3{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 5%;
    padding-bottom: 1%;
  }

  .parte2-contacto p{
    font-size: 75%;
  }

  #container{
    width: 100%;
  }

  .sectioquien, .sectioquien2 {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
}

.quien, .quien2 {
    align-items: center;
    width: 90%;
    margin-left: 0;
    padding: 2% 5%;
}
.quien p {
  font-size: 3vw;
}

.quienlogo {
    width: 70vw;
    padding: 5% 0;
}

.divheader2, .divheader {
  margin-top: 50%;
  height: 30%;
  align-content: center;
  
}

.parte2{
  font-size: 75%;
}

#pago{
  padding: 4%;
  background-color: rgb(93, 185, 13);
}

#pago-titulo{
  padding: 2%;
  padding-left: 0%;
  font-size: 125%;
  width: 100%;
}

.iconos, .iconos2{
  width: 30%;
}

.info2{
  font-size: 175%;
}

.info1{
  font-size: 100%;
}
.pago-info{
  padding: 1%;
  font-size: 85%;
  padding-top: 2%;
 padding-left: 0%;
}

#pago-todo{
  display: block;
}

#pago-texto{
  width: 100%;
}

#pago-foto{
  margin-left: 15%;
  margin-top: 5%;
}

#pago-foto img{
  width: 75%;
  padding-bottom: 1%;
}

#pago-confirmar{
  background-color: rgb(233, 99, 99);
  text-align: center;
  width: 75%;
}

.bloqueo {
  display: block; 
  text-align: center; 
}

.bloqueo img {
  width: 30%; 
  margin: 3%; 
}

.bloqueo p {
  width: 100%; 
  margin: 3% 0; 
}

.txtizq {
  text-align: left;
  margin-right: 0%;
}


}